#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main__block {
  height: 100px;
  width: 10px;
  display: block;
}

.inline__block {
  height: 100px;
  width: 10px;
  display: inline;
}
